<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Ошибка 404</h1>
                <h2>
                    Ничего не найдено :(</h2>
                <div class="error-details">
                    Вы ведь оказались тут не случайно, да?
                </div>
                <div class="error-actions">
                  <a [routerLink]="['/']" class="btn btn-secondary btn-lg">
                    Отправьте меня домой!
                  </a>
              </div>
            </div>
        </div>
    </div>
</div>
