<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">XsollaTransactions</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" [ngClass]=" { active: selectedMenu === 0 }">
      <a class="nav-link" [routerLink]="['/table']">Таблица</a>
    </li>
    <li class="nav-item" [ngClass]=" { active: selectedMenu === 1 }">
      <a class="nav-link" [routerLink]="['/rating']">Рейтинг</a>
    </li>
    <li class="nav-item" [ngClass]=" { active: selectedMenu === 2 }">
      <a class="nav-link" [routerLink]="['/projects']">Проекты</a>
    </li>
  </ul>
</nav>

<div class="content">
  <app-transactions-table *ngIf="selectedMenu === 0" [rawTransactions] = "rawTransactions"></app-transactions-table>
  <app-rating *ngIf="selectedMenu === 1" [rawTransactions] = "rawTransactions"></app-rating>
  <app-projects *ngIf="selectedMenu === 2" [rawTransactions] = "rawTransactions"></app-projects>
</div>

